<h1>Angular Content Projection</h1>

<hr>

<app-cp-basic>
  <h3>Displaying Basic angular content projection</h3>
</app-cp-basic>

<hr>

<app-cp-multi-slot>
  <h3>Default multi slot content projection</h3>
  <h3 question>Multi slot content projection with question selectors</h3>
</app-cp-multi-slot>

<hr>

<app-cp-conditional-projection>
  <button type="button" appCpToggle>Toggle to See Effect of Content Projection</button>
  <ng-template appCpContent>
    It depends on what you do with it
  </ng-template>
</app-cp-conditional-projection>

<hr>

<app-cp-multi-slot>
  <h3>Default multi slot content projection</h3>
  <ng-container ngProjectAs="[question2]">
    <p>Ng Project As Content Projection</p>
  </ng-container>

  <h3 question2>Multi slot content projection with question selectors</h3>
</app-cp-multi-slot>



